.total-expense-card {
    border: 2px solid #f50057; 
    background-color: #ffebec; 
    padding: 10px;
    margin: 10px;
    max-width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 


   
}

.total-expense-card:hover {
    transform: scale(1.05); 
} 
 

.card-block{
    text-align: center;
    justify-content: center;
    display: flex;
}